


footer{
    color: #b0d21b;
}
.container {
    image-rendering: 500px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #d12424;
    border-radius: 5px;
    background-color: #089a25;
    
    
}

input[type="text"],
input[type="email"],
textarea {
    width: 10%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #086751;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #8b0981;
    color: #b0d21b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #083e79;
    a.facebook-icon {
        display: inline-block;
        width: 40px;
        height: 40px;
    }
    
    a.facebook-icon img {
        width: 100%;
        height: auto;
    }
    
    a.facebook-icon:hover {
        opacity: 0.8;
    }
    
}
.main{
    background-color:wheat;
    margin-top: 40px;
}

footer{
    color: white;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
img{
    width: 300px;
    min-height: 60vh;
    margin-bottom: 10px;
   

}
.para{
    float: right;
    margin-bottom: 20px;
    width: 700px;
    margin-right: 120px;
    text-align: center;
    padding-top: 200px;
    text-wrap: wrap;

   
   
    


}

form {
    margin: 50px;
}
.Photo{
    width: 100%;
}





























